<%= form_for(@stream) do |f| %>
  <% if @stream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
      <% @stream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h1 id="instruction">
  </h1>
  
  <br />
  
  <div id="explanation">
  </div>
  
  <br /><br /><br /><br />

  <div class="field" id="title">
    <%= f.text_field :title %>
  </div>
  
  <div class="field" id="description">
    <%= f.text_area :description %>
  </div>
  
  <div class="field" id="video_preview">
    <%= f.file_field :video_preview %>
  </div>
  
  <div class="field" id="when">
    <%= f.datetime_select :when %>
  </div>
  
  <div class="field" id="price">
    <%= f.text_field :price %>
  </div>
  
  <div class="field" id="tags">
    <%= render :partial => 'tags', :locals => { :tags => @tags } %>
    <%= f.hidden_field :tags, :name => "tags"%>
  </div>
  
  <br /><br />
  
  <div id="continue">
    Continue
  </div>
  
  <div class="actions" id="submit">
    <%= f.submit %>
  </div>
<% end %>
