<!--
  Renders a stream
  Author : Gareth Aye (gareth@streamable.tv)
  Date : 04/21/12
-->

<%= javascript_include_tag 'http://connect.facebook.net/en_US/all.js#xfbml=1' %>

<div id="stream">
  <table id="streamtable">
    <tr>
      <td>
        <h2>
          <%= @stream.title %> 
        </h2>
      </td>
    </tr>

    <tr>
      <td>
        <% if @stream.zencoder_state %>
          <div id="video_preview">
            <video src=<%= @stream.zencoder_output_url %> class="video-js vjs-default-skin" controls
              preload="auto" width="700" height="320" data-setup="{}">
              Couldn't display video!
            </video>
          </div>
        <% else %>
          Hang on! Your preview video is being encoded right now.
        <% end %>
      </td>
    
      <td>
        <div id="description">
          <%= @stream.description %>
          
          <br /><br /><br /><br />
          
          <% if @publisher || @subscribed %>
            <% if Time.now >= @stream.when %>
              <!-- TODO(gaye): Style this -->
              <%= link_to 'Go to the broadcast!', "/streams/#{@stream.id}/broadcast" %>
            <% else %>
              You're all set. We'll see you at <%= format_time(@stream.when) %>.
            <% end %>
          <% else %>
            <%= render 'subscriptions/form' %>
          <% end %>
        </div>
      </td>
    </tr>
  
    <tr>
      <td>
        with <%= link_to(format_name(@stream.publisher), @stream.publisher) %>
        at <%= format_time(@stream.when) %>
      </td>
    </tr>
  </table>

  <div id="comments">
    <div id="fb-root"></div>
    <fb:comments href=<%= request.url %> width="700px"></fb:comments>
  </div>
</div>
